:root {
  --secondary: #272A2B;
}

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body, html {
  width: 100%;
  min-height: 100vh;
  background-color: var(--secondary);
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: clamp(12px, 1.2vw, 16px);
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 48px;
  margin: 48px 0;
}

h1 {
  font-size: 1.7rem;
  font-weight: 400;
  color: #d5e1e6;
  margin: 0;
}

.sort-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: end;
  justify-content: start;
  gap: 16px;
  height: 320px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  padding: 32px;
  max-width: 80vw;
}

.column {
  background-color: #33a2c7;
  color: var(--secondary);
  font-weight: 800;
  font-size: 0.9rem;
  padding: 0 1.4rem;
  padding-bottom: 16px;
  height: 200px;
  display: flex;
  align-items: end;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  box-sizing: border-box;
  min-height: 50px;
  box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.15);
  transition: background-color 120ms linear;
  user-select: none;
}

button {
  border: 0;
  padding: 24px 64px;
  border-radius: 10px;
  font-size: 1rem;
  color: var(--secondary);
  cursor: pointer;
  box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.2);
  font-weight: 800;
  background-color: #fff;
  transition: opacity 100ms linear;
}

.disabled {
  opacity: .4;
  pointer-events: none;
  cursor: auto;
}

.time-range-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.time-range-wrapper label {
  font-weight: 500;
  color: #d5e1e6;
}

#time-range {
  appearance: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 150px;
}

#time-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #33a2c7;
  border-radius: 50%;
  height: 16px;
  width: 16px;
}

#time-range::-moz-range-thumb {
  background: #33a2c7;
  border-radius: 50%;
  height: 16px;
  width: 16px;
}

.controls {
  display: flex;
  gap: 24px;
  align-items: center;
}

@media screen and (max-width: 900px) {
  #app {
    gap: 32px;
  }

  button {
    padding: 24px 48px;
  }

  .sort-wrapper, button {
    border-radius: 8px;
  }

  .sort-wrapper {
    gap: 8px;
  }

  .column {
    padding: 0 8px;
    padding-bottom: 8px;
    border-radius: 4px;
  }
}

@media screen and (max-width: 600px) {
  .column {
    padding: 0 4px;
    padding-bottom: 4px;
    font-size: 0.8rem;
    font-weight: 600;
  }
}

@media screen and (max-width: 400px) {
  .column {
    font-size: 0.5rem;
  }
}